{% extends 'testapp/base.html' %}
    {% block body_block %}
        <div class="container" >
            <div class="jumbotron">
                <h1>Welcome To Coding Ranker Zone!!!!</h1><hr>
                <h2>Instructions for taking coding challenge:</h2><br>
                <ul>
                    <li>Total time given to take challenge is 90 minutes only</li>
                    <li>Two questions will be given based on language choosen</li>
                    <li>Take the challenge and get an oppurtunity to work in "CODING RANKER!!!"</li>
                </ul>

            </div>

        </div>
    {% endblock %}
