{% extends 'testapp/base.html' %}
    {% block body_block %}
        <div class="container" align="center">
            <div class="jumbotron">
               <h1>Thanks for visiting CODER RANKER...</h1>
               <p>Anyway we are feeling very sad b'z you logout atleast you need to take one challenge to develop your coding skills</p>
               <h2>Please Login Again:</h2>
               <a class="btn btn-primary btn-lg" href="/accounts/login">LOGIN</a>

                

            </div>

        </div>
    {% endblock %}